* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.hlogo {

  font-family: 'Kaushan Script', cursive;
  font-size: 28px !important;
  font-weight: 600;
}

.navBTN {
  font-weight: 900;
  font-size: 18px;
}

.SlideImgSize {
  height: 360px;
}

/* product css */

.slidmain {

  width: 100%;
  height: auto;
  margin: 80px auto;
  overflow hidden;
  position: relative;
}


.hlll {
  width: 90%;
  margin: 0px auto;
  /* background: #1967D2 !important; */
  font-weight: bold;
  color: black;
}

.slideSpan {
  position: absolute;
  top: 45%;
  font-size: 60px;
  font-weight: bold;
  color: purple;
  left: .5%;
  z-index: 1;
}

.slideSpan:nth-of-type(2) {
  left: 98%;
  text-align: right;
}

.SlidSection {
  width: 97%;
  height: auto;
  background: #f4f4f4;
  margin: 10px auto;
  display: flex;
  justify-content: left;
  overflow-x: hidden;

}

.SlidSection::~::-webkit-scrollbar {
  visibility: hidden;
}


.SlidDiv {
  min-width: 289px;
  /* height: 200px; */
  position: relative;
  left: 0;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  font-weight: bold;
  margin: 10px 20px;
  /* color: white; */
  background: white;
  box-shadow: black;
  transition: 0.5s;

}

.cardImg {

  margin-top: -46px;
  width: 260px;
  margin-bottom: 27px;
  height: 400px;
}

.addBTN {

  background-color: darkgreen;
  color: white !important;
  margin: 10px 20px;
  padding: 0 10px;
}

.tt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* footer css */

.footerDiv {
  /* background-color: black; */
  /* color: white; */
}













@media screen and (max-width: 600px) {
  .dex-menu {
    display: none !important;
  }

  .mobile-menu {
    display: flex !important;
    color: black;
  }

  .img-Sizing {
    height: 200px;
    width: 100% !important;
  }

  .nav-link {
    margin-left: -16px;
  }

  .navbar-nav {
    padding-left: 19px !important;
  }

  .hlogo {

    font-family: 'Kaushan Script', cursive;
    font-size: 21px !important;
    font-weight: 600;
  }
  .SlideImgSize {
    height: 260px;
  }


  /* product spainer  */
  .slideSpan {
    position: absolute;
    top: 40%;
    font-size: 60px;
    font-weight: bold;
    color: rgb(216, 198, 216);
    left: .5%;
    z-index: 1;
  }

  .slideSpan:nth-of-type(2) {
    left: 91%;
    text-align: right;
    top: 160px;
  }

  .cardImg {

    margin-top: -46px;
    width: 260px;
    margin-bottom: 5px;
    height: 149px;
  }

  .SlidSection {
    width: 95%;
    height: 300px;
    background: #f4f4f4;
    margin: 10px auto;
    display: flex;
    justify-content: left;
    overflow-x: auto;
  }

  .SlidSection::~::-webkit-scrollbar {
    visibility: hidden;
  }

}

@media only screen and (min-width: 1000px) {
  .dex-menu {
    display: block !important;
    display: flex !important;
  }

  .mobile-menu {
    display: none !important;
  }

  .nav-link {
    margin-left: 1px;
  }


}





/* shopping cart  */

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}